[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
groq = "*"
tqdm = "*"
elasticsearch = "*"
notebook = "==7.1.2"
openai = "*"
pandas = "*"
scikit-learn = "*"
tiktoken = "*"

[dev-packages]

[requires]
python_version = "3.13"
